/* transform */
@font-face { font-family: 'simSun'; src: url("../fonts/simsun.ttf") format("truetype"); }

@media (min-width: 1367px) { .i-main_middle { font-size: 0; width: 1550px; height: 692px; position: absolute; top: 52%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
  .i-main_middle .i-main-middle_item { display: inline-block; vertical-align: top; height: 100%; }
  .i-main_middle .i-main-middle_item .tourism .dlt-icon { margin: 4% 0 1.8%; }
  .i-main_middle .i-main-middle_item .apps .imgs { top: 50%; width: 50%; }
  .i-main_middle .i-main-middle_item .apps .dlt-icon { margin: 34% 0 26%; }
  .i-main_middle .i-main-middle_item .gifs { background: url("../images/index/03slogan.png") no-repeat; background-size: 100% 100%; }
  .i-main_middle .i-main-middle_item .citys .imgs { top: 44%; left: 54%; width: 86%; }
  .i-main_middle .i-main-middle_item .citys .desc { bottom: 2.68%; }
  .i-main_middle .i-main-middle_item .citys .dlt-icon { margin: 26% 0 20%; }
  .i-main_middle .i-main-middle_item .one-public .imgs { top: 55%; width: 78%; }
  .i-main_middle .i-main-middle_item .one-public .datashare .dlt-icon { margin: 60% 0 48%; }
  .i-main_middle .i-main-middle_item .one-public .playconmm .dlt-icon { margin: 18% 0 7%; }
  .i-main_middle .i-main-middle_item .e-commerce .dlt-icon { margin: 20% 0 7%; }
  .i-main_middle .i-main-middle_item .traffic .imgs { width: 62%; }
  .i-main_middle .i-main-middle_item .traffic .dlt-icon { margin: 46% 0 27%; }
  .i-main_middle .i-main-middle_item .farming .imgs { width: 64%; }
  .i-main_middle .i-main-middle_item .farming .dlt-icon { margin: 34% 0 20%; } }

@media (max-width: 1366px) { .i-main_middle { font-size: 0; width: 1130px; height: 496px; position: absolute; top: 54%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
  .i-main_middle .i-main-middle_item { display: inline-block; vertical-align: top; height: 100%; }
  .i-main_middle .i-main-middle_item .tourism .dlt-icon { margin: -2% 0 -6%; }
  .i-main_middle .i-main-middle_item .apps .imgs { top: 50%; width: 50%; }
  .i-main_middle .i-main-middle_item .apps .dlt-icon { margin: 30% 0 18%; }
  .i-main_middle .i-main-middle_item .gifs { background: url("../images/index/03slogan.png") no-repeat; background-size: 100% 100%; }
  .i-main_middle .i-main-middle_item .citys .imgs { top: 44%; left: 54%; width: 86%; }
  .i-main_middle .i-main-middle_item .citys .desc { bottom: 2.68%; }
  .i-main_middle .i-main-middle_item .citys .dlt-icon { margin: 22% 0 8%; }
  .i-main_middle .i-main-middle_item .one-public .imgs { top: 55%; width: 78%; }
  .i-main_middle .i-main-middle_item .one-public .datashare .dlt-icon { margin: 58% 0 32%; }
  .i-main_middle .i-main-middle_item .one-public .playconmm .dlt-icon { margin: 12% 0 1.2%; }
  .i-main_middle .i-main-middle_item .e-commerce .dlt-icon { margin: 13% 0 1.4%; }
  .i-main_middle .i-main-middle_item .traffic .imgs { width: 62%; }
  .i-main_middle .i-main-middle_item .traffic .dlt-icon { margin: 40% 0 12%; }
  .i-main_middle .i-main-middle_item .farming .imgs { width: 64%; }
  .i-main_middle .i-main-middle_item .farming .dlt-icon { margin: 30% 0 8%; } }
