
//单行溢出显示省略号
@mixin ellipsis(){
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
};

//多行溢出显示省略号
@mixin ellipsis-ln($line){
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow : hidden;
    -webkit-line-clamp: $line;
}

//设置像素为 1 上边框(以 iphone6 为基准)
@mixin set-top-line($c: #C7C7C7) {
    content: " ";
    color: $c;
    border-top: 1px solid $c;
    transform: scaleY(0.5);
    transform-origin: 0 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

//设置像素为 1 下边框(以 iphone6 为基准)
@mixin set-bottom-line($c: #C7C7C7) {
    content: " ";
    color: $c;
    border-bottom: 1px solid $c;
    transform: scaleY(0.5);
    transform-origin: 0 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}

//设置像素为 1 左边框(以 iphone6 为基准)
@mixin set-left-line($c: #C7C7C7) {
    content: " ";
    color: $c;
    border-left: 1px solid $c;
    transform: scaleX(0.5);
    transform-origin: 0 0;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

//设置像素为 1 右边框(以 iphone6 为基准)
@mixin set-right-line($c: #C7C7C7) {
    content: " ";
    color: $c;
    border-right: 1px solid $c;
    transform: scaleX(0.5);
    transform-origin: 100% 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

//设置像素为 1 边框(以 iphone6 为基准)
@mixin px_border($c: #C7C7C7,$r:0){
    content: "";
    display: block;
    width: 200%;
    height:200%;
    box-sizing: border-box;
    border: 1px solid $c;
    border-radius:$r;
    transform: scale(0.5);
    transform-origin: 0 0;
    position: absolute;
    top: 0;
    left: 0;
}

//设置 input 的 placeholder 字体颜色和大小
@mixin placeholder($c,$s){
    &::-webkit-input-placeholder{
        color:$c;
        font-size:$s;
    }
    &:-moz-placeholder{
        color:$c;
        font-size:$s;
    }
    &::-moz-placeholder{
        color:$c;
        font-size:$s;
    }
    &:-ms-input-placeholder{
        color:$c;
        font-size:$s;
    }
}

//设置垂直居中
@mixin vertical-center(){
    transform: translateY(-50%);
    -wbkit-transform: translateY(-50%);
    position: absolute;
    top: 50%;
}

//设置水平垂直居中
@mixin center(){
    transform: translate(-50%,-50%);
    -wbkit-transform: translate(-50%,-50%);
    position: absolute;
    left:50%;
    top: 50%;
}

//设置文本模糊
@mixin blurry-text(){
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
